/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:  	Tantek Celik, Shane Riley
    Version:  	(CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:	Resets default styling of common browsers to a common base
----------------------------------------
*/
ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd {
  margin: 0;
  padding: 0; }

a img, :link img, :visited img, fieldset {
  border: none; }

address {
  font-style: normal; }

header, section, article, nav, footer, hgroup {
  display: block; }

body {
  font: normal 14px Helvetica, Arial, sans-serif;
  color: #333333; }

a {
  color: #0066cc; }
  a.button {
    overflow: visible;
    padding: 7px 20px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #5484cb; }
    a.button:hover {
      background-color: #739cda; }
  a.add {
    overflow: visible;
    padding: 7px 20px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #50b948;
    padding: 7px 8px; }
    a.add span {
      padding: 2px 0 2px 30px;
      background: transparent url("/images/icon_add.png") 0 0 no-repeat; }
    a.add:hover {
      background-color: #44a63d; }

.site_column, body > header, #content {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto; }

h1 {
  padding: 0 0 10px 0;
  font-size: 22px;
  color: black; }

form dl dt {
  padding: 0 0 5px 0; }
  form dl dt label {
    font-weight: bold; }
  form dl dt.error {
    color: #b00b00; }
  form dl dt .field_with_errors label {
    color: #c95353; }
form dl dd {
  padding: 0 0 10px 0; }
  form dl dd input[type="text"], form dl dd input[type="password"] {
    width: 268px;
    height: 25px;
    padding: 2px 5px;
    margin: 0 0 5px 0;
    font: normal 13px Helvetica, Arial, sans-serif;
    color: #70706a;
    border: 1px solid #c1c1c1;
    background-color: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefefe, endColorstr=#f1f1f1);
    background-image: -moz-linear-gradient(100% 100% 90deg, #f1f1f1, #fefefe);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#f1f1f1));
    margin: 0 0 5px 0; }
    form dl dd input[type="text"]:focus, form dl dd input[type="password"]:focus {
      color: #333333; }
  form dl dd input[type="file"] {
    margin: 0 0 5px 0; }
  form dl dd textarea {
    width: 268px;
    height: 25px;
    padding: 2px 5px;
    margin: 0 0 5px 0;
    font: normal 13px Helvetica, Arial, sans-serif;
    color: #70706a;
    border: 1px solid #c1c1c1;
    background-color: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefefe, endColorstr=#f1f1f1);
    background-image: -moz-linear-gradient(100% 100% 90deg, #f1f1f1, #fefefe);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#f1f1f1));
    height: 80px;
    margin: 0 0 5px 0;
    padding-top: 4px; }
  form dl dd select {
    margin: 0 0 5px 0; }
  form dl dd.error input[type="text"], form dl dd.error input[type="password"] {
    border-color: #b00b00;
    background: #faafaa; }
form dl.half {
  float: left;
  width: 50%; }
form dl.clear {
  clear: both; }
form dl.state {
  float: left;
  padding: 0 20px 0 0; }
form dl.zip {
  float: left;
  width: 94px; }
  form dl.zip input[type="text"] {
    width: 82px; }
form label.checkbox {
  display: block;
  padding: 0 0 10px 10px;
  font-weight: bold; }
form fieldset.actions input[type="submit"], form fieldset.actions button {
  overflow: visible;
  padding: 7px 20px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #5484cb;
  padding: 6px 20px; }
form fieldset.actions a.cancel {
  overflow: visible;
  padding: 7px 20px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #a6a5a5;
  padding: 7px 10px; }

table.standard {
  width: 100%;
  margin: 0 0 20px 0;
  border-spacing: 0;
  border-collapse: collapse; }
  table.standard th {
    padding: 2px 5px;
    font-size: 13px;
    text-align: left;
    border: 1px solid #ececec;
    border-width: 1px 0;
    background: #f7f7f7; }
  table.standard tbody td {
    padding: 5px; }

.pagination {
  overflow: hidden;
  padding: 0 0 10px 0; }
  .pagination a.prev, .pagination a.next {
    float: left;
    padding: 3px 7px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background: #5484cb; }
  .pagination ul {
    float: left;
    padding: 2px 10px 0 10px; }
    .pagination ul li {
      display: inline;
      padding: 0 5px 0 0;
      font-size: 14px;
      color: black; }
      .pagination ul li.active a {
        padding: 3px 4px;
        color: white;
        text-decoration: none;
        background: #666666; }

.search {
  clear: both;
  overflow: hidden;
  padding: 20px;
  margin: 0 0 10px 0;
  background: #ebebd8; }
  .search form {
    float: left; }
    .search form input[type="text"] {
      width: 266px;
      height: 25px;
      padding: 2px 5px;
      margin: 0 0 5px 0;
      font: normal 13px Helvetica, Arial, sans-serif;
      color: #70706a;
      border: 1px solid #c1c1c1;
      background-color: #f1f1f1;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefefe, endColorstr=#f1f1f1);
      background-image: -moz-linear-gradient(100% 100% 90deg, #f1f1f1, #fefefe);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#f1f1f1));
      float: left;
      margin: 0 3px 0 0;
      font-weight: bold; }
    .search form input[type="submit"] {
      overflow: visible;
      padding: 7px 20px;
      font-size: 13px;
      font-weight: bold;
      color: white;
      text-decoration: none;
      cursor: pointer;
      border: none;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background: #5484cb;
      float: left; }
  .search a.add, .search a.back {
    float: right; }

.filters {
  overflow: hidden;
  padding: 20px;
  margin: 0 0 20px 0;
  background: #f7f7f7; }
  .filters fieldset {
    float: left; }
    .filters fieldset.actions {
      padding: 20px 0 0 0; }
      .filters fieldset.actions input[type="submit"] {
        margin: 0 10px 0 0; }
      .filters fieldset.actions a {
        overflow: visible;
        padding: 7px 20px;
        font-size: 13px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        cursor: pointer;
        border: none;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #aaaaaa;
        color: #333333; }
  .filters dl {
    float: left;
    width: 220px; }

body > header {
  position: relative;
  height: 130px;
  background: #cecece; }
  body > header h1 {
    padding: 20px 0 0 20px;
    font-size: 24px; }
    body > header h1 a {
      text-decoration: none; }
  body > header nav {
    position: absolute;
    left: 20px;
    bottom: 0;
    z-index: 1; }
    body > header nav li {
      float: left;
      padding: 0 10px 0 0;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase; }
      body > header nav li a {
        display: block;
        padding: 4px 10px;
        text-decoration: none; }
      body > header nav li.active a {
        color: #333333;
        background: white; }
  body > header .session {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    font-size: 12px;
    text-align: right; }
    body > header .session p {
      padding: 0 0 10px 0; }
    body > header .session a {
      margin: 0 5px 0 0; }
      body > header .session a + a {
        margin: 0 0 0 5px; }

#content {
  padding: 40px 10px; }

#candidate_show #main {
  float: left;
  width: 580px;
  padding: 0 20px 20px 0; }
  #candidate_show #main header {
    position: relative;
    padding: 0 0 20px 0; }
    #candidate_show #main header a.edit {
      position: absolute;
      right: 0;
      top: 5px;
      z-index: 1; }
    #candidate_show #main header h1 {
      padding: 0; }
    #candidate_show #main header p {
      padding: 0 0 10px 0;
      font-size: 14px;
      line-height: 160%; }
      #candidate_show #main header p a.button {
        padding: 3px 10px;
        margin: 0 0 0 20px;
        font-size: 12px; }
      #candidate_show #main header p.featured {
        padding-left: 22px;
        font-size: 13px;
        font-weight: bold;
        color: black;
        background: transparent url("/images/icon_star.png") 0 1px no-repeat; }
    #candidate_show #main header dl dt {
      padding: 0 0 3px 0;
      font-weight: bold;
      color: black; }
    #candidate_show #main header dl dd {
      padding: 0 0 15px 0; }
    #candidate_show #main header dl.small {
      float: left;
      width: 130px;
      padding: 0 20px 0 0; }
    #candidate_show #main header dl.clear {
      clear: both; }
    #candidate_show #main header .stats {
      clear: both;
      overflow: hidden;
      padding: 20px 0 20px 14px;
      background: #ebebd8; }
      #candidate_show #main header .stats dl {
        float: left;
        width: 84px;
        padding: 0 10px 0 0;
        color: black; }
        #candidate_show #main header .stats dl dt {
          padding: 0 0 5px 0;
          font-size: 12px;
          font-weight: bold;
          text-align: center; }
        #candidate_show #main header .stats dl dd {
          padding: 5px 0;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background: white; }
          #candidate_show #main header .stats dl dd.active {
            color: #50b948; }
  #candidate_show #main article {
    padding: 0 0 20px 0; }
    #candidate_show #main article h1 {
      padding: 0;
      font-size: 12px; }
    #candidate_show #main article p {
      padding: 10px 0 5px 0;
      line-height: 150%; }
    #candidate_show #main article a.delete {
      font-size: 11px; }
  #candidate_show #main p.edit {
    padding: 15px 0 0 0; }
#candidate_show p.actions {
  overflow: hidden;
  padding: 0 0 20px 0; }
  #candidate_show p.actions a {
    float: left; }
#candidate_show aside {
  overflow: hidden;
  padding: 15px 20px 0 20px;
  background: #ebebd8; }
  #candidate_show aside figure {
    display: block;
    padding: 0 0 15px 0; }
    #candidate_show aside figure figcaption {
      display: block;
      padding: 0 0 5px 0;
      font-weight: bold;
      color: black; }
    #candidate_show aside figure img {
      border: 1px solid #c1c1c1; }
#candidate_show form.note textarea {
  width: 480px; }
#candidate_show form.note fieldset.actions input[type="submit"] {
  margin: 0 10px 0 0; }
