.search
  = link_to 'Add New Candidate', new_candidate_path, :class => "button add"

%table.standard
  %thead
    %tr
      - ["Name", "Phone", "Email", "Github", "Twitter"].each do |th|
        %th= th
  %tbody
    = render candidates
