%form(action="" method="post")
  %h1 Add a New Skill
  %fieldset
    %dl
      %dt
        %label Name
      %dd
        %input(type="text")
  %fieldset.actions
    %input(type="submit" value="Add Skill")
    %a(href="#") Cancel
