%form(action="" method="post")
  %h1 Sign In
  %fieldset#sign_in
    %dl
      %dt
        %label Email
      %dd
        %input(type='text')
      %dt
        %label Password
      %dd
        %input(type='password')
    %label.checkbox
      Remember me
      %input(type='checkbox')
  %fieldset.actions
    = submit_tag "Sign In"
    = link_to 'Forgot Password', '#'
