%form
  %h1 Forgot Password
  %fieldset
    %dl
      %dt
        %label Email
      %dd
        %input(type='text')
  %fieldset.actions
    = submit_tag "Reset My Password"
    = link_to 'Sign In', '#'
    = link_to 'Sign Up', '#'
